<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tcrush.dao.DismissalDao">
    <resultMap id="DismissalMap" type="com.tcrush.entity.dismissal.Dismissal">
        <result column="eno" property="number"/>
        <result column="dis_date" property="dismissalDate"/>
        <result column="dis_letter" property="dismissalLetter"/>
        <result column="reason" property="reason"/>
        <result column="remark" property="remark"/>
    </resultMap>
    <select id="selectDismissal" resultMap="DismissalMap" parameterType="com.tcrush.entity.dismissal.Dismissal">
        select *  from dismissal where eno = #{number}
    </select>

    <insert id="insertDismissal" parameterType="com.tcrush.entity.dismissal.Dismissal">
        insert into dismissal (eno,dis_date,dis_letter,reason,remark) values (#{number},#{dismissalDate},#{dismissalLetter},#{reason},#{remark})
    </insert>
</mapper>