<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tcrush.dao.EmployeeDao">
    <insert id="InsertEmployee" parameterType="com.tcrush.entity.employee.Employee">
        insert into employee (numbers, named, sex, birthday,phone,profession,resume) values (#{number},#{name},#{sex}, #{birthday},#{phone},#{profession},#{resume})
    </insert>

    <select id="SelectEmployee" parameterType="com.tcrush.entity.employee.Employee">
        select * from employee where numbers=#{number}
    </select>

    <delete id="DeleteEmployee" parameterType="com.tcrush.entity.employee.Employee">
        delete from employee where numbers=#{number}
    </delete>

    <update id="UpDateEmployee" parameterType="com.tcrush.entity.employee.Employee">
        update from employee
    </update>

</mapper>