<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tcrush.dao.RetirementDao">
    <select id="SelectRetire" resultType="java.lang.Integer" parameterType="com.tcrush.entity.retirement.Retirement">
        select count(*)  from retirement
    </select>

    <insert id="InsertRetire" parameterType="com.tcrush.entity.retirement.Retirement">
        insert into retirement (eno,ret_date,remark) values (#{number},#{retireDate},#{remark})
    </insert>
</mapper>