<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tcrush.dao.SalariesDao">
    <resultMap id="SalariesMap" type="com.tcrush.entity.salary.Salaries">
        <result column="eno" property="number"/>
        <result column="his_date" property="historyDate"/>
        <result column="his_salary" property="historySalary"/>
    </resultMap>
    <select id="selectSalaries" resultMap="SalariesMap">
        select *  from salaries where eno = #{number}
    </select>

    <insert id="insertSalaries" parameterType="com.tcrush.entity.salary.Salaries">
        insert into salaries (eno,his_date,his_salary) values (#{number},#{historyDate},#{historySalary})
    </insert>
</mapper>